@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.hero {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  background-color: black;
  color: white;
  outline: none;
  border: none;
}
