<div class="container">
  <div class="row my-4 d-flex justify-content-center align-items-center">
    <div class="col-4">
      <p class="aboutMe">About Me</p>
    </div>
    <div class="col-8 desc">
      <p>
        Hello! I’m a passionate Full Stack Developer specializing in the MERN
        stack, which includes MongoDB, Express.js, React, and Node.js. I have a
        deep interest in building scalable and efficient web applications and
        enjoy solving complex problems with clean, maintainable code.
        <br />
        With extensive experience working with the MERN stack, I have
        successfully developed both front-end and back-end solutions. On the
        front-end, I use React.js to build dynamic and interactive user
        interfaces. I leverage the power of Node.js and Express.js on the
        back-end to build RESTful APIs and handle server-side logic. MongoDB
        serves as my choice for NoSQL databases, allowing me to work with
        flexible and scalable data models.
      </p>
      <a href="../../../public/fullStack.pdf" download="fullStack.pdf"
        ><button class="btn btn-dark py-2 w-25 rounded-0">
          Download Resume
        </button></a
      >
    </div>
  </div>
</div>
