<div class="container bg-black bg-opacity-75 text-white skills">
  <div class="row">
    <div class="col align-content-center">
      <h2 class="m-auto w-100 text-center p-2 mt-5 fs-1">Skills</h2>
      <p class="mx-5 text-center fs-4">
        I am a Full Stack Developer proficient in the MERN stack (MongoDB,
        Express.js, React, and Node.js). I specialize in building dynamic,
        scalable web applications using modern JavaScript technologies.
      </p>
    </div>
  </div>

  <div class="container w-75 h-50 mb-5">
    <div class="row d-flex justify-content-around">
      <div class="col-3 pt-5 mt-4">
        <h3 class="focus">My Focus</h3>
        <div class="container my-4 text-start tech w-100">
          <h4 class="mb-4 fs-5 d-inline-block text-nowrap">
            Responsive Design
          </h4>
          <h4 class="mb-4 fs-5">Web Design</h4>
          <h4 class="mb-4 fs-5">UI/UX Design</h4>
        </div>
      </div>
      <div class="col-6 mt-3">
        <app-techs></app-techs>
        <app-techs></app-techs>
        <app-techs></app-techs>
        <app-techs></app-techs>
        <app-techs></app-techs>
        <app-techs></app-techs>
        <app-techs></app-techs>
      </div>
    </div>
  </div>
</div>
