.skills {
  height: 100vh;
}

.focus {
  position: relative;
  display: inline-block;
}
.focus::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -35px;
  width: 200px;
  height: 2px;
  background-color: white;
}
.tech {
  margin-left: -9px;
}
